apiVersion: batch/v1
kind: CronJob
metadata:
  name: create-todo
  namespace: project
spec:
  schedule: "0 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: hello
            image: misetius/job:2.9
            imagePullPolicy: Always
          restartPolicy: OnFailure