<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoapp</title>
</head>
<body>
    <h1>Todoapp</h1>
    <% if (data) { %>
        
        <img src="<%= data %>"">
 <% } %>
    
<form id="oma">
  <input type="text" id="todo" name="todo"  maxlength="140"><br>
  <input type="submit" value="Submit">
</form>

            <ul>
                <% todos.forEach(item=> { %>
                    <li>
                    <h3 id='<%= item %>'>   <%= item %> </h3> 
                    </li>
                    <% }); %>
            </ul>



<p>Devops width Kubernetes 2025</p>

<script>
    
    var url = '<%= backendurl %>';

    const form = document.querySelector('#oma');

    form.addEventListener('submit', event => {
        


        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

    })


</script>
</body>
</html>