<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoapp</title>
</head>
<body>
    <h1>Todoapp</h1>
    <% if (data) { %>
        
        <img src="<%= data %>"">
 <% } %>
    
<form action="">
  
  <input type="text" id="todo" name="todo" value="todo" maxlength="140"><br>
  <input type="submit" value="Submit">
</form>

<p>Devops width Kubernetes 2025</p>
</body>
</html>